FIFA.csv
FIFA.zip
dataframe_chucksize_performance/dataset/FIFA.csv
dataframe_chucksize_performance/dataset/FIFA.zip
./dataframe_chucksize_performance/dataset/FIFA.zip
./dataframe_chucksize_performance/dataset/FIFA.csv

